:root {
  --color-black: #212121;
  --color-darkest: #1a0d03;
  --color-dark: #876445;
  --color-strong: #ca965c;
  --color-highlight: #eec373;
  --color-light: #f4dfba;
  --color-lightest: #f6eddd;
  --color-rojelio: #c5abcd;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--color-lightest);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 5%;
  width: 100%;
  height: auto;
  align-items: center;
}

/* #region Header */

header {
  background-color: var(--color-strong);
  padding: 2em 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  align-items: center;
  align-content: center;
}
.mobil{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.hamburguesa div{
  width: 25px;
  height: 3px;
  background-color: var(--color-darkest);
  margin: 5px 0;
  transition: all 0.5s ease-in;
}
.hamburguesaActiva .hambLinea1{
  transform: rotate(45deg) translate(5px, 6px);
}
.hamburguesaActiva .hambLinea2{
  opacity: 0;
}
.hamburguesaActiva .hambLinea3{
  transform: rotate(-45deg) translate(5px, -6px);
}

.navbar {
  display: none;
}
.navbarActivo{
  display: flex;
  
}
.navbar ul {
  display: flex;
  flex-direction: column;;
  gap: 2em;
  list-style: none;
  height: fit-content;
  padding: 0;
}
.navbar li {
  height: fit-content;
  padding: 0.5em 1em;
  border: solid 0.0625em var(--color-light);
}
.navbar li:hover,
.activo {
  border-color: var(--color-highlight);
  background-color: var(--color-light);
}
/* #endregion Header */

/* #region Footer */

footer {
  background-color: var(--color-dark);
  padding: 2em 0 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.autores {
  display: flex;
  flex-direction: row;
}

/* #endregion Footer */

/* #region Home */

.introduccion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  height: 15em;
  padding: 1em;
}
.introduccion p {
  text-align: center;
  align-self: center;
}
.introduccion div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* #endregion Home */

/* #region Catalogo */

.catalogo {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.detalleProducto h4 {
  padding-left: 15%;
  padding-bottom: 5%;
}
.detalleProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  min-width: 40vw;
}
.detalleProducto > * {
  max-width: 40%;
  justify-self: center;
  max-height: 40vh;
}

.detalleProducto li {
  width: 100%;
  padding-bottom: 0.5em;
}

.especificaciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.tituloEspecificaciones {
  align-self: flex-start;
}
table {
  width: 80%;
  border-collapse: collapse;
}
th,
tr,
td {
  border: 0.0625em solid black;
  width: 20%;
  text-align: center;
  vertical-align: middle;
  height: 3.75em;
}

td li {
  text-align: start;
}
/* #endregion Catalogo */

/* #region Contacto */
form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.formInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
}
.formTextarea {
  display: flex;
  flex-direction: column;
}
.obligatoria {
  color: crimson;
  font-size: 0.8em;
}
.campoCaptcha {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.campoCaptcha input {
  outline-color: crimson;
}
.campoCaptcha input.success {
  outline-color: greenyellow;
  border-color: green;
}
.btnEnviar {
  margin-top: 1em;
  background-color: var(--color-highlight);
  border-color: var(--color-darkest);
  color: var(--color-black);
  padding: 0.7em 1.4em;
  width: 90%;
  align-self: center;
  cursor: pointer;
}
.btnEnviar:hover {
  background-color: var(--color-light);
}
.btnEnviar:disabled {
  background-color: var(--color-lightest);
  border: none;
  cursor: default;
  filter: blur(0.07em);
}

/* #endregion Contacto */

@media only screen and (min-width: 420px) {
  body{
    background-color: crimson;
    padding: 0 10%;
  }
  /* #region Header */
  header{
    flex-direction: row;
  }
  .hamburguesa{
    display: none;
  }
  .navbar {
    display: flex;
    align-content: center;
  }
  .navbar ul{
    flex-direction: row;
  }
  /* #endregion Header */

  /* #region Footer */

  /* #endregion Footer */

  /* #region Home */

  /* #endregion Home */

  /* #region Catalogo */

  /* #endregion Catalogo */

  /* #region Contacto */

  /* #endregion Contacto */
}
